@import '../../styles/vars';

.game {
  max-width: $max-view-width;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-box {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 600px;
  border: 1px solid #000;
  box-sizing: border-box;
}

@media screen and (max-width: 922px) {
  .game {
    flex-direction: column;
  }
}
