.pieces {
  float: left;
  padding: 50px;
  border: 1px solid #000;
  list-style: none;
  margin: 0;
}

.pieces-row {
  overflow: hidden;
}

.pieces-box {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;

  &:hover {
    background-image: linear-gradient(transparent, transparent), linear-gradient(to left, #0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0), linear-gradient(#0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0), linear-gradient(to right, #0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0), linear-gradient(to bottom, #0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0);
    background-clip: content-box, border-box, border-box, border-box, border-box;
    background-position: 0 0, 0 0, 100% 0, 0 100%, 0;
    background-size: 100%, 100% 5px, 5px 100%, 100% 5px, 5px 100%;
    background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  }

  .chess-white {
    background: #EEE;
  }

  .chess-black {
    background: #000;
  }

  .disappear {
    display: none;
  }

  .chess {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: .01rem .01rem .1rem rgba(0, 0, 0, .5), 0 0 .05rem rgba(240, 240, 240, .5), .05rem .05rem .01rem rgba(255, 255, 255, .15) inset, .1rem .1rem .1rem rgba(255, 255, 255, .05) inset, -.05rem -.05rem .25rem rgba(0, 0, 0, .15) inset, -.1rem -.1rem .35rem rgba(0, 0, 0, .05) inset;
    box-shadow: .01rem .01rem .1rem rgba(0, 0, 0, .5), 0 0 .05rem rgba(240, 240, 240, .5), .05rem .05rem .01rem rgba(255, 255, 255, .15) inset, .1rem .1rem .1rem rgba(255, 255, 255, .05) inset, -.05rem -.05rem .25rem rgba(0, 0, 0, .15) inset, -.1rem -.1rem .35rem rgba(0, 0, 0, .05) inset;
    border: 0;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.75rem 0 0 -0.75rem;
  }
}
