/* line 1, ../sass/index.scss */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* line 5, ../sass/index.scss */
.slider {
    overflow: hidden;
    width: 500px;
    height: 309px;
    position: relative;
    margin: 0 auto;
}
.sliderUl{
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 0;
    transition: left 1s;
    margin-left: -100%;
}
/* line 18, ../sass/index.scss */
.slider .slider-item {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    float: left;
    transition: width 1.5s ease;
}
/* line 22, ../sass/index.scss */
.slider .slider-item > img {
    display: block;
    height: auto;
    width: 100%;
}
/* line 29, ../sass/index.scss */
.slider .slider-arrow {
    display: inline-block;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 100;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}
/* line 41, ../sass/index.scss */
.slider .slider-arrow:hover {
    background: rgba(0, 0, 0, 0.2);
}
/* line 45, ../sass/index.scss */
.slider .slider-arrow.slider-arrow-right {
    right: 0;
}
/* line 48, ../sass/index.scss */
.slider .slider-arrow.slider-arrow-left {
    left: 0;
}
/* line 53, ../sass/index.scss */
.slider .slider-dots-wrap {
    z-index: 99;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* line 60, ../sass/index.scss */
.slider .slider-dots-wrap .slider-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 3px solid #ccc;
    margin: 6px;
    cursor: pointer;
    border-radius: 20px;
}
/* line 69, ../sass/index.scss */
.slider .slider-dots-wrap .slider-dot:hover {
    border: 3px solid #868686;
}
/* line 73, ../sass/index.scss */
.slider .slider-dots-wrap .slider-dot.slider-dot-selected {
    background: #ccc;
}
