@import '../../styles/vars';

.web-work {
  max-width: $max-view-width;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.web-work-option {
  width: 100%;
  display: flex;
  align-items: center;
}

.web-work-right,
.web-work-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0;
}

.web-work-direct {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.web-work-worker {
  background-color: #e56;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.web-work-center {
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .web-work-option {
    flex-direction: column;
  }

  .web-work-right,
  .web-work-left {
    width: 100%;
  }
}
