@import '../../styles/vars';

.header {
  display: flex;
  max-width: $max-view-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;

  .nav-link {
    color: #ffffff;
  }

  .nav-link-active {
    color: #ffffff;
  }

  .logo {
    text-align: left;
    flex-grow: 1;
    //display: flex;
    //align-items: center;
    margin-left: 12px;
    cursor: pointer;
  }
}
