.pieces {
  position: relative;
}

.pieces-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.pieces-logo {
  animation: game-logo-spin infinite 20s linear;
  display: block;
}

.pieces-box {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.pieces-row {
  display: flex;
}

.chessman {
  position: relative;

  &:hover {
    background-image: linear-gradient(transparent, transparent), linear-gradient(to left, #0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0), linear-gradient(#0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0), linear-gradient(to right, #0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0), linear-gradient(to bottom, #0292f3 33.3%, transparent 0, transparent 66.6%, #0292f3 0);
    background-clip: content-box, border-box, border-box, border-box, border-box;
    background-position: 0 0, 0 0, 100% 0, 0 100%, 0;
    background-size: 100%, 100% 5px, 5px 100%, 100% 5px, 5px 100%;
    background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  }

  .chessman-white {
    background: #EEE;
  }

  .chessman-black {
    background: #000;
  }

  .chessman-disappear {
    display: none;
  }

  .chessman-anim {
    box-shadow: 0 0 0 .4rem rgba(255, 0, 0, 0.4);
    animation: pulse 1.2s infinite;
  }

  .chessman-main {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    border: 0;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.75rem 0 0 -0.75rem;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    box-shadow: 0 0 0 .6rem rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes game-logo-spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
